In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np

WARNING:tensorflow:From c:\Users\HP\Desktop\ML_Course_Datasets\ANN_project\annmodel\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
model = load_model('model.h5')
with open('onehot_encoder_geo.pkl', 'rb') as file:
    ohe_geo = pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [4]:
input = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000
}

In [5]:
geo_data = ohe_geo.transform([[input['Geography']]]).toarray()
geo_df = pd.DataFrame(geo_data, columns=ohe_geo.get_feature_names_out(['Geography']))

c:\Users\HP\Desktop\ML_Course_Datasets\ANN_project\annmodel\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [10]:
df = pd.DataFrame([input])

In [11]:
df['Gender'] = label_gender.transform(df['Gender'])
df = pd.concat([df.drop(columns=['Geography'], axis=1), geo_df], axis=1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [12]:
scaled_data = scaler.transform(df)

In [14]:
prediction = model.predict(scaled_data)

1/1 [==============================] - 0s 173ms/step

In [16]:
prediction

array([[0.05904127]], dtype=float32)